archives-transfer/service-soap/src/wsdl/fileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/fileservice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/fileservice">

  <types>
    <xsd:schema targetNamespace="http://example.com/fileservice">

      <!-- UploadFile -->
      <xsd:element name="UploadFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" />
            <xsd:element name="fileContent" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="UploadFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- DownloadFile -->
      <xsd:element name="DownloadFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DownloadFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileContent" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ListFiles -->
      <xsd:element name="ListFiles" type="xsd:anyType" />
      <xsd:element name="ListFilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="files" type="xsd:string" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- SOAP Messages -->
  <message name="UploadFile">
    <part name="parameters" element="tns:UploadFile" />
  </message>
  <message name="UploadFileResponse">
    <part name="parameters" element="tns:UploadFileResponse" />
  </message>

  <message name="DownloadFile">
    <part name="parameters" element="tns:DownloadFile" />
  </message>
  <message name="DownloadFileResponse">
    <part name="parameters" element="tns:DownloadFileResponse" />
  </message>

  <message name="ListFiles">
    <part name="parameters" element="tns:ListFiles" />
  </message>
  <message name="ListFilesResponse">
    <part name="parameters" element="tns:ListFilesResponse" />
  </message>

  <!-- PORT TYPE -->
  <portType name="FileServicePortType">
    <operation name="UploadFile">
      <input message="tns:UploadFile" />
      <output message="tns:UploadFileResponse" />
    </operation>
    <operation name="DownloadFile">
      <input message="tns:DownloadFile" />
      <output message="tns:DownloadFileResponse" />
    </operation>
    <operation name="ListFiles">
      <input message="tns:ListFiles" />
      <output message="tns:ListFilesResponse" />
    </operation>
  </portType>

  <!-- BINDING -->
  <binding name="FileServiceBinding" type="tns:FileServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="UploadFile">
      <soap:operation soapAction="uploadFile"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="DownloadFile">
      <soap:operation soapAction="downloadFile"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="ListFiles">
      <soap:operation soapAction="listFiles"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- SERVICE -->
  <service name="FileService">
    <port name="FileServicePort" binding="tns:FileServiceBinding">
      <soap:address location="http://localhost:8001/fileService"/>
    </port>
  </service>

</definitions>
