archives-transfer/service-soap/src/wsdl/fileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/fileservice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/fileservice">

  <!-- TIPOS USADOS -->
  <types>
    <xsd:schema targetNamespace="http://example.com/fileservice">
      
      <!-- UploadFile -->
      <xsd:element name="UploadFileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" />
            <xsd:element name="fileContent" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="UploadFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- DownloadFile -->
      <xsd:element name="DownloadFileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DownloadFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileContent" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ListFiles -->
      <xsd:element name="ListFilesRequest" type="xsd:anyType" />
      <xsd:element name="ListFilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="files" type="xsd:string" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- MENSAGENS SOAP -->
  <message name="UploadFileRequest">
    <part name="parameters" element="tns:UploadFileRequest" />
  </message>
  <message name="UploadFileResponse">
    <part name="parameters" element="tns:UploadFileResponse" />
  </message>

  <message name="DownloadFileRequest">
    <part name="parameters" element="tns:DownloadFileRequest" />
  </message>
  <message name="DownloadFileResponse">
    <part name="parameters" element="tns:DownloadFileResponse" />
  </message>

  <message name="ListFilesRequest">
    <part name="parameters" element="tns:ListFilesRequest" />
  </message>
  <message name="ListFilesResponse">
    <part name="parameters" element="tns:ListFilesResponse" />
  </message>

  <!-- PORT TYPE (API) -->
  <portType name="FileServicePortType">
    <operation name="UploadFile">
      <input message="tns:UploadFileRequest" />
      <output message="tns:UploadFileResponse" />
    </operation>
    <operation name="DownloadFile">
      <input message="tns:DownloadFileRequest" />
      <output message="tns:DownloadFileResponse" />
    </operation>
    <operation name="ListFiles">
      <input message="tns:ListFilesRequest" />
      <output message="tns:ListFilesResponse" />
    </operation>
  </portType>

  <!-- BINDING (SOAP) -->
  <binding name="FileServiceBinding" type="tns:FileServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="UploadFile">
      <soap:operation soapAction="uploadFile" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="DownloadFile">
      <soap:operation soapAction="downloadFile" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="ListFiles">
      <soap:operation soapAction="listFiles" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <!-- SERVICE (ENDPOINT) -->
  <service name="FileService">
    <port name="FileServicePort" binding="tns:FileServiceBinding">
      <soap:address location="http://localhost:8001/wsdl" />
    </port>
  </service>
</definitions>
